<!DOCTYPE html>
<html lang="en">

<head>
    <title>OTH Regensburg</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>

<!-- TODO: CONVERT THIS FILE TO A PUG TEMPLATE -->
    
<body>
    <div id="header">
        <h1>OTH Regensburg</h1>
    </div>

    <h1>Studieren an der OTH</h1>
    
    <div id="intro">
        <p>Die Ostbayerische Technische Hochschule bietet Ihnen in den Bereichen Technik, Wirtschaft und Sozialwesen zahlreiche Studiengänge an.
        </p>

        <p>Warum hier studieren?</p>
        <ul>
            <li>Spannende Studiengänge</li>
            <li>Tolle Leute</li>
            <li>Nette Studienkollegen</li>
            <li>Super Stadt</li>
            <li>Und vieles mehr...</li>
        </ul>
    </div>

    <div id="register">
        <h2>Hole Dir hier die News zur OTH</h2>
        <p>Hier könntest Du Deinen Newsletter bestellen, wenn wir HTML Formulare schon behandelt hätten.</p>
    </div>
    
    <div id="footer">
            <p>We always need a footer...</p>
    </div>
</body>

</html>