doctype html
html
	head
	meta(charset="UTF-8")
	block title
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css")

	body
	div(class="container")
		block content
